<li class="post" style="max-width: fit-content">
    <a href="/{{markata.config.path_prefix}}{{ post.slug }}/">
        <h2 class="title">{{ title }}</h2>
        <p class="description">{{ post.description }}</p>
        <div style="display: flex; flex-direction: row; width: 50rem">
            <p>{{post['templateKey'].replace('til', 'TIL: Today I Learned')}}</p>
            <p align="right">
                {{ post.date.year }}-{{ post.date.month }}-{{ post.date.day }}
            </p>
        </div>
    </a>
</li>
