<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/8bitcc.ico" type="image/png">
    <meta property="monetization" name="monetization" content="$ilp.uphold.com/MGN2ni2YMXaQ">

    <!-- <link rel='stylesheet' href='/fonts.css' />
  <link rel='stylesheet' href='/archive-styles.css' />
  <link rel='stylesheet' href='/article.css' /> -->
    <link rel='stylesheet' href='/main.min.css' />
    <link rel="preload" href="/one-dark.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="/furo-purge.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <!-- <link rel="preload" href="/scroll.css" as="style" onload="this.onload=null;this.rel='stylesheet'"> -->
    <noscript>
    <!-- <link rel='stylesheet' href='/scroll.css' /> -->
    <link rel='stylesheet' href='/one-dark.min.css' />
    <link rel='stylesheet' href='/furo-purge.min.css' />
  </noscript>

    <link href='8bitcc_48x48.png' rel='apple-touch-icon' sizes='48x48' />
    <link href='8bitcc_72x72.png' rel='apple-touch-icon' sizes='72x72' />
    <link href='8bitcc_96x96.png' rel='apple-touch-icon' sizes='96x96' />
    <link href='8bitcc_144x144.png' rel='apple-touch-icon' sizes='144x144' />
    <link href='8bitcc_192x192.png' rel='apple-touch-icon' sizes='192x192' />
    <link href='8bitcc_256x256.png' rel='apple-touch-icon' sizes='256x256' />
    <link href='8bitcc_384x384.png' rel='apple-touch-icon' sizes='384x384' />
    <link href='8bitcc_512x512.png' rel='apple-touch-icon' sizes='512x512' />

    <title>{{ title }}</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/archive/'>Archive</a></li>
            <li>
                <a href='/rss.xml' aria-label='RSS'>
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="16" width="16">
            <path fill="currentColor"
              d="M 4 4.44 v 2.83 c 7.03 0 12.73 5.7 12.73 12.73 h 2.83 c 0 -8.59 -6.97 -15.56 -15.56 -15.56 Z m 0 5.66 v 2.83 c 3.9 0 7.07 3.17 7.07 7.07 h 2.83 c 0 -5.47 -4.43 -9.9 -9.9 -9.9 Z M 6.18 15.64 A 2.18 2.18 0 0 1 6.18 20 A 2.18 2.18 0 0 1 6.18 15.64">
            </path>
          </svg>
                </a>
            </li>
        </ul>
    </nav>
    <article class="blog-post h-entry">
        <!-- <div id='cover-wrapper'>
      <img src='/{{ slug }}.webp' alt='cover image for article' />
    </div> -->
        <div id='title-wrapper'>
            <a class="u-url" href="https://waylonwalker.com/{{ slug }} ">
                <h1 id="title" style="text-align:right;z-index:2;padding-right:.2rem" class="blog title no-link">{{ title }}
                </h1>
            </a>
            <p><time class="dt-published post-date" datetime="{{ date }}" style="text-align:right;z-index:2">{{ date }}</time>
            </p>
            <div class="h-card p-author" rel="author">
                <div class="content">
                    <a class="p-name u-url" href="https://waylonwalker.com/">
                        <p>
                            <span class="p-given-name">Waylon</span>
                            <span class="p-family-name">Walker</span>
                        </p>
                    </a>
                    <p class="p-note">Learning in Public</p>
                </div>
            </div>

            <!-- edit -->
            <p><a href="https://github.com/WaylonWalker/waylonwalkerv2/edit/main/src/pages/blog/{{ slug }}.md" alt="edit post url" title="edit this post">edit<span role="img" aria-label="">✏️</span></a></p>
        </div>

        <h2 class='toc'>toc</h2>
        {{toc}}
        <div id='post-body'>
            {{ body }}
        </div>
        <hr>
        <div id='show'>
        </div>
    </article>
</body>
<script>
    if ('sw' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('/service-worker.js', {
                registrationStrategy: 'registerImmediately'
            }).then(function(registration) {
                // Registration was successful
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(err) {
                // registration failed :(
                console.log('ServiceWorker registration failed: ', err);
            });
        });
    }
</script>

</html>
