{% extends "base.html" %}
{% block content %}
    {% include "nav.html" %}
    {% include 'social.html' %}
    <h1 class="flair text-center">{{ feed.config.title }}</h1>
    <p class='max-w-md text-center mx-auto'>{{ feed.config.description }}</p>
    <ul class="archive-tags">
        <li>
            <a href="/archive/" hx-boost="true"> All </a>
        </li>
        <li>
            <a href='/til/' hx-boost="true"> TIL </a>
        </li>
        <li>
            <a href="/shots/" hx-boost="true"> Shots </a>
        </li>
        <li>
            <a href='/pings/' hx-boost="true"> Pings </a>
        </li>
        <li>
            <a href='/thoughts/' hx-boost="true"> Thoughts </a>
        </li>
        <li>
            <a href='/feeds/' hx-boost="true"> Feeds </a>
        </li>
        <li>
            <a href='/steam/' hx-boost="true"> Steam </a>
        </li>
        

    </ul>
    {% include 'feed_partial.html' %}
    {% include 'footer.html' %}
{% endblock %}
