@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./highlight.css";

html {
  overflow-x: hidden;
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}


audio {
  filter: invert(100%);
  @apply shadow-lg shadow-white rounded-full;
}
audio::-webkit-media-controls-panel {
  @apply bg-zinc-200 rounded text-white fill-white ring-4 ring-zinc-200 shadow-2xl shadow-zinc-900 border-4 border-zinc-900;
}
audio {
  @apply w-full mx-auto;
}
.inapage {
  @apply m-0 sm:m-[-2rem];
  @apply text-sm;
  @apply text-base;
  @apply mx-4 text-center
}

* {
  @apply z-10;
}

.social {
  @apply max-w-[95vw];
  @apply mx-auto;

  @apply font-bold;
  @apply flex flex-row flex-wrap;
  @apply gap-4;
  @apply justify-center;
  @apply py-8;
}

.archive-tags {
  @apply flex flex-row gap-2 justify-center;
  @apply py-8 sm:p-0;
  @apply mx-auto;
  @apply container max-w-min px-8 py-2 rounded;

  @apply bg-zinc-800/20;
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.1);
  @apply backdrop-blur-sm;
}

.archive-tags a {
  @apply font-bold text-lg;
}

#posts {
  @apply overflow-x-hidden;
  @apply p-4 lg:p-8;
}

#posts ul {
  @apply backdrop-blur-sm;
  @apply flex flex-col sm:grid grid-flow-row-dense;
  @apply gap-4 lg:gap-8;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#posts a {
  @apply no-underline;
}

#posts .post {
  @apply list-none;
  @apply m-0;
}
#posts .post > a {
  @apply flex flex-col min-h-full;
}

#posts .post h2 {
  @apply text-white/70 group-hover:text-white;
}

#posts .card-footer {
  @apply mt-auto justify-self-end;
  @apply flex flex-row justify-between;
  @apply text-white/80 group-hover:text-white;
  @apply p-4;
}

#posts .thoughts p {
  @apply text-lg;
}

#posts .blog-post h2 {
  @apply text-6xl font-black;
}

#posts .post.til h2 {
  @apply text-3xl text-white/90;
}

#posts .post.thoughts h2 {
  @apply text-sm;
}

#posts ul {
  @apply m-0 p-0;
}

#posts .thoughts {
  /* @apply bg-blue-800/10; */
  /* @apply m-4; */
  @apply rounded;

  -webkit-box-shadow: 0px 0px 20px 5px rgba(255, 0, 255, 0.1);
  -moz-box-shadow: 0px 0px 20px 5px rgba(255, 0, 255, 0.1);
  box-shadow: 0px 0px 5px 1px #00f3ff24;
}

#posts .til {
  @apply col-span-2 row-span-2;
  @apply ring-2 ring-pink-500/50;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(255, 0, 255, 0.1);
  -moz-box-shadow: 0px 0px 20px 5px rgba(255, 0, 255, 0.1);
  box-shadow: 0px 0px 20px 5px rgba(255, 0, 255, 0.1);
  /* @apply bg-pink-900; */

  @apply rounded;
}

#posts .blog-post {
  /* @apply py-8; */
  @apply ring-4 ring-zinc-200;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.1);
  /* @apply bg-green-500; */
  @apply rounded;
  @apply col-span-full row-span-2;
}

html {
  background-color: black;
}

body {
  @apply text-white;
  @apply min-h-screen;
}

img {
  @apply mx-auto;
}

nav ul {
  @apply list-none;
  @apply pb-4;
  @apply py-8 sm:p-0 sm:py-0;
  @apply flex flex-row;
  @apply justify-center;
}

nav ul li {
  @apply px-4;
}

nav ul li a {
  @apply font-bold;
  @apply text-lg;
}

footer p {
  @apply mb-0;
}
footer ul {
  @apply flex flex-row;
  @apply gap-2;
  @apply justify-center;
  @apply mb-0;
  @apply pt-8;
}

footer ul li a {
  @apply underline;
  @apply decoration-cyan-500;
  @apply font-bold;
  @apply text-lg;
}

footer p {
  @apply mx-auto;
  @apply text-center;
  @apply pb-8 sm:p-0 sm:pb-0;
}

#title-wrapper {
  @apply p-4;
  @apply text-right;
  @apply rounded-t-3xl;
  /* @apply bg-red-500; */
  @apply bg-gradient-to-r from-indigo-900/20 to-indigo-950/20;
  @apply border-b-2;
  @apply border-yellow-400;
  @apply mb-8;
}

#title-wrapper time {
  @apply text-gray-400;
}

.p-name {
  @apply text-lg font-bold;
}

#title-wrapper .h-card a {
  @apply underline;
  @apply decoration-yellow-400;
  @apply text-yellow-400;
}

#title-wrapper h1 a {
  @apply no-underline;
}

#title-wrapper p {
  @apply m-0 p-0;
}

.neon-ring {
  z-index: -1;
  position: fixed;
  overflow: hidden;
  width: 5000px;
  height: 5000px;
  top: -1500px;
  right: -3000px;
  background: rgb(11, 11, 11);
  background: radial-gradient(
    circle,
    rgba(11, 11, 11, 0) 15%,
    rgba(255, 0, 219, 0.1) 46%,
    rgba(255, 0, 219, 0.4) 49%,
    rgba(255, 0, 219, 0.8) 49.5%,
    rgba(196, 253, 255, 0.9) 50%,
    rgba(255, 0, 219, 0.8) 50.5%,
    rgba(255, 0, 219, 0.4) 51%,
    rgba(255, 0, 219, 0.1) 53%,
    rgba(0, 0, 0, 0) 85%
  );
}

.dubs {
  @apply min-h-screen min-w-max;
  background-image: url("/w.svg");
  background-size: contain;
  background-size: 10rem auto;
  background-repeat: repeat;
  background-attachment: fixed;
}

article {
  /* @apply prose-p:text-2xl sm:prose-p:text-2xl; */
  @apply prose-2xl prose-invert lg:prose-xl;
  /* @apply prose-xl prose-invert; */
  @apply bg-zinc-900;
  @apply rounded-3xl;

  @apply container w-[98vw] ml-0 sm:m-auto max-w-3xl   lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl;
  /* @apply min-w-sm; */
  /* @apply sm:max-w-24 md:max-w-screen-md lg:max-w-screen-lg; */
  @apply mb-10 mt-2 pb-10;
  @apply shadow-2xl shadow-cyan-300/20 ring-4 ring-cyan-800/10;
}

article ul {
  @apply list-[circle];
  @apply list-inside;
}


.heading-permalink {
  @apply h-6 w-6;
  @apply text-base;
  @apply inline-block;
  @apply text-pink-500;

}

h1 {
  @apply text-4xl md:text-8xl;
  @apply mb-0;
  @apply text-right;
  @apply font-bold;
  @apply flex gap-2;
  @apply mx-auto font-black bg-gradient-to-r from-red-600 via-pink-500 to-yellow-400 inline-block text-transparent bg-clip-text  leading-tight;
}

h1.flair {
  @apply text-center block no-underline;
}
h2.text-center {
  @apply block;
}
/* h2 { */
/*   @apply text-2xl; */
/*   @apply font-bold; */
/*   @apply flex gap-2; */
/*   @apply my-8; */
/* } */

/* h3 { */
/*   @apply text-xl; */
/*   @apply font-bold; */
/*   @apply flex gap-2; */
/*   @apply my-4; */
/* } */

/* h4 { */
/*   @apply text-lg; */
/*   @apply font-bold; */
/*   @apply flex gap-2; */
/*   @apply my-2; */
/* } */

/* h5 { */
/*   @apply text-base; */
/*   @apply font-bold; */
/*   @apply flex gap-2; */
/*   @apply my-2; */
/* } */

blockquote {
  @apply px-4;
  @apply border-l-4;
  @apply border-l-pink-600;
}

/* p { */
/*   @apply mb-4; */
/* } */

#post-body {
  @apply grid;
  grid-template-columns: .5rem 1fr 1fr 1rem;
}

@media screen and (min-width: 640px) {
  #post-body {
    grid-template-columns: 2rem 1fr 1fr 2rem;
  }
}
#post-body * {
  @apply col-start-2;
  @apply col-end-4;
}
#post-body a {
  @apply decoration-yellow-500;
  @apply text-yellow-500;
  @apply font-semibold;
  @apply decoration-1;
}

#post-body a.wikilink, #post-body a.hoverlink {
  @apply decoration-pink-600;
  @apply text-pink-500;
  @apply font-normal;
  @apply decoration-2;
}

hr {
  @apply col-start-1 !important;
  @apply col-end-5 !important;
  @apply my-10;
}

iframe {
  @apply col-start-1 !important;
  @apply col-end-5 !important;
}

.left {
  @apply col-start-1;
  @apply col-end-3;
}

.right {
  @apply col-start-3;
  @apply col-end-5;
}

.inside-left {
  @apply col-start-2;
  @apply col-end-3;
}
.inside-left > .admonition-title {
  @apply hidden;
}

.inside-right {
  @apply col-start-3;
  @apply col-end-4;
}

.inside-right > .admonition-title {
  @apply hidden;
}

.admonition-title {
  @apply text-3xl;
  @apply font-light;
  @apply flex gap-2;
  @apply my-8;
}

.admonition {
  @apply my-8;
  @apply mx-8;
  @apply px-4;
}
.admonition.note .admonition-title {
  @apply text-pink-500;
}
.admonition.note {
  /* @apply border-l-2; */
  /* @apply border-white; */
  @apply shadow-lg   shadow-pink-500/50 shadow-[rgba(0,0,15,0.5)_-16px_0px_10px_-10px];

}

pre {
  @apply col-start-1 !important;
  @apply col-end-5 !important;
  @apply bg-neutral-950 bg-opacity-0;
}
pre.wrapper {
    @apply flex py-4 min-h-[4rem];

  @apply bg-neutral-950 bg-opacity-100;
  @apply overflow-x-auto;
  @apply relative;
  /* @apply py-[-2rem]; */
  @apply px-8;
  @apply shadow-lgc shadow-white/10;
}
.highlight pre {
  @apply p-0;
  @apply m-0;
  @apply rounded-none;
}

.copy-wrapper {
  @apply flex justify-end;
  @apply absolute top-4 right-4;
}
.copy svg {
  @apply h-6 w-6;
  fill: white;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #262626 inset;
  background: #27272a;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  @apply h-4 w-4;
}

::-webkit-scrollbar-track {
  @apply rounded rounded-full bg-zinc-900;
}

body::-webkit-scrollbar-track {
  @apply rounded rounded-full bg-zinc-800;
}

::-webkit-scrollbar-thumb {
  @apply rounded rounded-full bg-zinc-600 hover:bg-zinc-500;
}

body::-webkit-scrollbar-thumb {
  @apply rounded rounded-full bg-zinc-600 hover:bg-zinc-500;
}

.highlight {
  @apply overflow-x-auto;
}

.highlight {
  color: #eefbfe;
  filter: brightness(0.85);
  border-radius: 0 0 4px 4px;
}
.highlight .c {
  color: #8b8b8b;
} /* Comment */
.highlight .err {
  color: #960050;
  background-color: #1e0010;
} /* Error */
.highlight .k {
  color: #c678dd;
} /* Keyword */
.highlight .l {
  color: #ae81ff;
} /* Literal */
.highlight .n {
  color: #abb2bf;
} /* Name */
.highlight .o {
  color: #c678dd;
} /* Operator */
.highlight .p {
  color: #abb2bf;
} /* Punctuation */
.highlight .ch {
  color: #8b8b8b;
} /* Comment.Hashbang */
.highlight .cm {
  color: #8b8b8b;
} /* Comment.Multiline */
.highlight .cp {
  color: #8b8b8b;
} /* Comment.Preproc */
.highlight .cpf {
  color: #8b8b8b;
} /* Comment.PreprocFile */
.highlight .c1 {
  color: #8b8b8b;
} /* Comment.Single */
.highlight .cs {
  color: #8b8b8b;
} /* Comment.Special */
.highlight .gd {
  color: #c678dd;
} /* Generic.Deleted */
.highlight .ge {
  font-style: italic;
} /* Generic.Emph */
.highlight .gi {
  color: #a6e22e;
} /* Generic.Inserted */
.highlight .gs {
  font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
  color: #8b8b8b;
} /* Generic.Subheading */
.highlight .kc {
  color: #c678dd;
} /* Keyword.Constant */
.highlight .kd {
  color: #c678dd;
} /* Keyword.Declaration */
.highlight .kn {
  color: #c678dd;
} /* Keyword.Namespace */
.highlight .kp {
  color: #c678dd;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #c678dd;
} /* Keyword.Reserved */
.highlight .kt {
  color: #c678dd;
} /* Keyword.Type */
.highlight .ld {
  color: #e6db74;
} /* Literal.Date */
.highlight .m {
  color: #ae81ff;
} /* Literal.Number */
.highlight .s {
  color: #e6db74;
} /* Literal.String */
.highlight .na {
  color: #a6e22e;
} /* Name.Attribute */
.highlight .nb {
  color: #98c379;
} /* Name.Builtin */
.highlight .nc {
  color: #abb2bf;
} /* Name.Class */
.highlight .no {
  color: #c678dd;
} /* Name.Constant */
.highlight .nd {
  color: #abb2bf;
} /* Name.Decorator */
.highlight .ni {
  color: #abb2bf;
} /* Name.Entity */
.highlight .ne {
  color: #a6e22e;
} /* Name.Exception */
.highlight .nf {
  color: #61afef;
} /* Name.Function */
.highlight .nl {
  color: #abb2bf;
} /* Name.Label */
.highlight .nn {
  color: #abb2bf;
} /* Name.Namespace */
.highlight .nx {
  color: #a6e22e;
} /* Name.Other */
.highlight .py {
  color: #abb2bf;
} /* Name.Property */
.highlight .nt {
  color: #c678dd;
} /* Name.Tag */
.highlight .nv {
  color: #abb2bf;
} /* Name.Variable */
.highlight .ow {
  color: #c678dd;
} /* Operator.Word */
.highlight .w {
  color: #abb2bf;
} /* Text.Whitespace */
.highlight .mb {
  color: #ae81ff;
} /* Literal.Number.Bin */
.highlight .mf {
  color: #ae81ff;
} /* Literal.Number.Float */
.highlight .mh {
  color: #ae81ff;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #ae81ff;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #ae81ff;
} /* Literal.Number.Oct */
.highlight .sa {
  color: #e6db74;
} /* Literal.String.Affix */
.highlight .sb {
  color: #e6db74;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #e6db74;
} /* Literal.String.Char */
.highlight .dl {
  color: #e6db74;
} /* Literal.String.Delimiter */
.highlight .sd {
  color: #98c379;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #98c379;
} /* Literal.String.Double */
.highlight .se {
  color: #ae81ff;
} /* Literal.String.Escape */
.highlight .sh {
  color: #e6db74;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #e6db74;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #e6db74;
} /* Literal.String.Other */
.highlight .sr {
  color: #e6db74;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #e6db74;
} /* Literal.String.Single */
.highlight .ss {
  color: #e6db74;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #abb2bf;
} /* Name.Builtin.Pseudo */
.highlight .fm {
  color: #61afef;
} /* Name.Function.Magic */
.highlight .vc {
  color: #abb2bf;
} /* Name.Variable.Class */
.highlight .vg {
  color: #abb2bf;
} /* Name.Variable.Global */
.highlight .vi {
  color: #abb2bf;
} /* Name.Variable.Instance */
.highlight .vm {
  color: #abb2bf;
} /* Name.Variable.Magic */
.highlight .il {
  color: #ae81ff;
} /* Literal.Number.Integer.Long */
