<article id="posts" class="h-feed hfeed list archive-list">
    <ul>
<li class="post group blog-post h-entry hentry">
    <a href="/kedro-broken-urls/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Kedro-Broken-Urls</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [ [
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2021-10-20">
                2021-10-20
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/kedro-pipeline-create/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Kedro Pipeline Create</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Kedro pipeline create is a command that makes creating new https://youtu.be/HtyIKqlEoNw The kedro cli comes with the following command to scaffold out The direc
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2021-08-22">
                2021-8-22
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/upcoming-streams/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Upcoming Stream</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I am starting to stream 3 days per week, before I start work in the morning. On Monday kedro-diff test kedro-diff on piplines with history setup deploy pipeline
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2021-06-08">
                2021-6-8
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/kedro-node/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Comprehensive Guide To Creating Kedro Nodes</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            The Kedro node is an essential part of the pipeline. It defines what catalog 👆 Unsure what kedro is? Check out this post. The node function is the most common a
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2021-06-03">
                2021-6-3
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/kedro-pypi-list/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Creating Pypi-List With Kedro</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I had an idea come to me via twitter. Short one word name packages are becoming I started with the simple index.  Pypi provides a single page listing to every
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2021-05-23">
                2021-5-23
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/vim-fugitive/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Vim Fugitive</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            :on This one has nothing to do with fugitive, but is a native vim feature that C-i jump The jumplist is sorted Oldest to newest When navigating the jumplist wit
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2021-05-08">
                2021-5-8
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/custom-kedro-logger/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Custom Kedro Logger</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            DRAFT -
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2021-05-02">
                2021-5-2
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/testing-data-pipelines/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Testing Data Pipelines</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Thinking through testing best practices for Data Pipelines
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2020-11-16">
                2020-11-16
            </time>
        </div>
    </a>
</li>    </ul>
</article>