#
#  __  __            _         _         _                  _
# |  \/  | __ _ _ __| | ____ _| |_ __ _ | |_ ___  _ __ ___ | |
# | |\/| |/ _` | '__| |/ / _` | __/ _` || __/ _ \| '_ ` _ \| |
# | |  | | (_| | |  |   < (_| | || (_| || || (_) | | | | | | |
# |_|  |_|\__,_|_|  |_|\_\__,_|\__\__,_(_)__\___/|_| |_| |_|_|
#
#                                           waylonwalker.com

[markata]
# bump site version to bust GitHub actions cache
site_version = 16

# 2 weeks in seconds
default_cache_expire = 1209600

## Markata Setup
glob_patterns = "pages/**/*.md"
## glob_patterns = "pages/**/*spaceflights*.md"
output_dir = "markout"
assets_dir = "static"
hooks = [
   "markata.plugins.publish_source",
   # "markata.plugins.publish_dev_to_source",
   "markata.plugins.prevnext",
   "plugins.render_template_variables",
   "plugins.codeblocks",
   "plugins.index",
   "plugins.slug",
   "plugins.one_line_link",
   "plugins.include",
   "default",
   # 'plugins.related',
   'plugins.seo_amp',
   'plugins.publish_amp',
   'plugins.custom_seo',
   'plugins.gif_to_mp4',
   'plugins.youtube',
   'plugins.rss_tag',
   'plugins.auto_publish',
   ]
disabled_hooks = ["markata.plugins.covers", 'markata.plugins.flat_slug']

## Site Config
url = "https://waylonwalker.com"
images_url = "https://images.waylonwalker.com"
title = "Waylon Walkers Digital Garden"
description = "I write about how I use python and linux in data science."
rss_description = "Waylon Walkers posts"
author_name = "Waylon Walker"
author_email = "waylon@waylonwalaker.com"
icon = "8bitcc.png"
lang = "en"
post_template = "pages/templates/post_template.html"
amp_template = "pages/templates/post_template.amp.html"
theme_color = "#322D39"
background_color = "#B73CF6"
start_url = "/"
site_name = "Waylon Walker"
short_name = "ww"
display = "minimal-ui"
twitter_card = "summary_large_image"
twitter_creator = "@_waylonwalker"
twitter_site = "@_waylonwalker"

[markata.auto_description.description]
len=160
[markata.auto_description.long_description]
len=250
[markata.auto_description.super_description]
len=500
[markata.auto_publish.filters]
til='templateKey=="til" and date<=today'

[markata.archive]
archive_template="pages/templates/archive_template.html"

[markata.archive.pages.archive]
filter="date<=today and templateKey in ['blog-post', 'til'] and status.lower()=='published'"

[markata.archive.pages.blog]
filter="date<=today and templateKey in ['blog-post'] and status.lower()=='published'"

[markata.archive.pages.draft]
filter="status=='draft'"

[markata.archive.pages.scheduled]
filter="date>today"

[markata.archive.pages.today]
filter="date==today"

[markata.archive.pages.python]
filter="date<=today and 'python' in tags"

[markata.archive.pages.python-draft]
filter="date<=today and 'python' in tags and status=='draft'"

[markata.archive.pages.linux]
filter="date<=today and 'linux' in tags"

[markata.archive.pages.linux-draft]
filter="date<=today and 'linux' in tags and status=='draft'"

[markata.archive.pages.vim]
filter="date<=today and 'vim' in tags"

[markata.archive.pages.vim-draft]
filter="date<=today and 'vim' in tags and status=='draft'"

[markata.archive.pages.kedro]
filter="date<=today and 'kedro' in tags"

[markata.archive.pages.kedro-draft]
filter="date<=today and 'kedro' in tags and status=='draft'"

[markata.archive.pages.gratitude]
template="pages/templates/archive_template.html"
card_template="pages/templates/gratitude_card.html"
filter="date<=today and templateKey == 'gratitude'"

[markata.archive.pages.til]
template="pages/templates/archive_template.html"
# card_template="pages/templates/gratitude_card.html"
filter="date<=today and templateKey == 'til'"

[markata.archive.pages.til-vim]
template="pages/templates/archive_template.html"
# card_template="pages/templates/gratitude_card.html"
filter="date<=today and templateKey == 'til' and 'vim' in tags"

[[markata.covers]]
name='-dev'
template = "static/cover-template.png"
font = "./.github/scripts/waterlilly-script.ttf"
font_color = "rgb(255,255,255)"

[[markata.covers]]
name='-og'
template = "static/og-template.png"
font = "./.github/scripts/waterlilly-script.ttf"
font_color = "rgb(255,255,255)"
# text_key = 'long_description'
text_font = "./static/JosefinSans-Regular.ttf"
text_font_color = "rgb(200,200,200)"

[[markata.covers]]
name='-hashnode'
template = "static/hashnode-template.png"
font = "./.github/scripts/waterlilly-script.ttf"
font_color = "rgb(255,255,255)"

[[markata.seo]]
name = "og:type"
property = "og:type"
content = "article"

[[markata.seo]]
name = "og:author"
property = "og:author"
content = "Waylon Walker"

[[markata.seo]]
name = "og:site_name"
property = "og:site_name"
content = "Waylon Walker"

[[markata.seo]]
name = "theme-color"
content="#322D39"


[markata.prevnext]
prevnext_color_angle = "#ff66c4"

[markata.feeds.published]
filter="date<=today and templateKey in ['blog-post', 'til'] and status.lower()=='published'"
sort='slug'
