<ul class='px-0'>
<li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/thoughts-439/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            💭 Using Opnsense With Tailscale · Tailscale Docs
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-03">
                2024-12-3
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/debug-cloudflared-tunnel/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            Debug Cloudflared Tunnel
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-03">
                2024-12-3
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/setup-cloudflared-tunnel-on-ubuntu/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            Setup Cloudflared Tunnel On Ubuntu
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-02">
                2024-12-2
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/thoughts-438/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            💭 Fitting Two Hard Drives And An Ssd In A Dell Opt
            ...
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-27">
                2024-11-27
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/thoughts-435/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            💭 Changelog On X: "🗣️@Dhh On Kubernetes' Migration
            ...
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-25">
                2024-11-25
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/thoughts-436/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            💭 If Anyone Else Is Having Sound Clicking With Cha
            ...
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-25">
                2024-11-25
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/thoughts-437/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            💭 How To Fix An Office Chair Popping Noise? With R
            ...
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-25">
                2024-11-25
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/thoughts-434/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            💭 (44) How To Make A Good First Impression In Busi
            ...
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-24">
                2024-11-24
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/thoughts-433/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            💭 Inside Argo: Automating The Future - Youtube
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-22">
                2024-11-22
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/thoughts-432/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            💭 Introduction - Bootc
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-21">
                2024-11-21
            </time>
        </p>
    </a>
</li></ul>