<article id="posts" class="h-feed hfeed list archive-list">
    <ul>
<li class="post group thoughts h-entry hentry">
    <a href="/thoughts-311/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Episode #323 Best Practices For Docker In Produc...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Great listen for anyone interested in productionizing python code with docker.  Itamar brings up some 


Don&#39;t trust bas
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-06-16">
                2024-6-16
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-310/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 (394) Why You Should Build Your Homelab Now - Yo...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Homelabbers have been some of the best co-workers I have ever had.  Typically have a get shit done, If there&#39;s a way I w
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-06-14">
                2024-6-14
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-307/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Darrenburns/Posting: Test Your Http Api Using A ...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Currently Posting is a super early postman like tui (terminal user interface).  It looks so good.  Darren is really gett
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-06-12">
                2024-6-12
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-308/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Customize And Apply Backgrounds Fast | Svg Backg...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            svgbackgrounds is a really awesome resource for svg things recently featured on [https://shoptalkshow.com/618/](https://
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-06-12">
                2024-6-12
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-309/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Podman Requries Qemu-System On Ubuntu</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            podman requires qemu-system on 


``` bash
❯ podman machine init
Looking up Podman Machine image at quay.io/podman/machi
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-06-12">
                2024-6-12
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-304/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 A Link Blog In The Year 2024 | Kellan Elliott-Mc...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Kellan brings some interesting thoughts on where the internet is headed in 2024.  Interestingly I see myself headed in a
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-06-10">
                2024-6-10
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-305/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 A Link Blog In The Year 2024</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            THIS! is the same reasons that I built [thoughts](https://thoughts.waylonwalker.com){.hoverlink}.  Simon has bee a big i
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-06-10">
                2024-6-10
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-306/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Blogmarks That Use Markdown</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Oh I kinda like the name blogmark, as opposed to thoughts like I have chose for the same thing.  Aparantly Simon beat me
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-06-10">
                2024-6-10
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-302/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Argoproj/Argo-Events: Event-Driven Automation Fr...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Argo events is an event driven automation framework for kubernetes that can create kubernetes objects among other things
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-06-09">
                2024-6-9
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-303/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 How To Configure Dns Over Tls (Dot) Using Unboun...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Setting up DNS overTLS in opnsense has made my dns just a bit more secure and reliable.  I recently had an outage of hal
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-06-09">
                2024-6-9
            </time>
        </div>
    </a>
</li>    </ul>
</article>