<article id="posts" class="h-feed hfeed list archive-list">
    <ul>
<li class="post group blog-post h-entry hentry">
    <a href="/extending-vim-with-shell-commands/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Extending Vim With Shell Commands</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Vimconf 2022 Extending vim does not need to be complicated and can be done using cli tools I know all the files that I care to search for are called build.yml, 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2022-11-12">
                2022-11-12
            </time>
        </div>
    </a>
</li><li class="post group til h-entry hentry">
    <a href="/vim-cmd/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Vim Remaps Use Cmd In Place Of :</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Anyone just starting out their vim customization journey is bound to run into this error. I If you run  You still need to map your remaps with a : if you do not
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                TIL: Today I Learned
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2022-02-14">
                2022-2-14
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/vim-fundamentals-2/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Notes For Second Vim-Fundamentals Course Meetup</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            newline Mahesh Subrajmanium Venkatachalam - Plugins | Installing a Theme Matthew Fletcher - Registers | Advanced Motions Jump, Delete,  get a plugin manager unl
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2021-08-27">
                2021-8-27
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/setup-pylsp/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Python Lsp Setup</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Setting up python with the native nvim&amp;gt;0.5 lsp was mr https://github.com/neovim/nvim-lspconfig https://github.com/palantir/python-language-server/issues/190 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2021-05-17">
                2021-5-17
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/vim-diffsplit/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">How To Compare Two Files In Vim</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2021-05-06">
                2021-5-6
            </time>
        </div>
    </a>
</li>    </ul>
</article>