---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: git-cache-pvc
  namespace: go-waylonwalker-com
  labels:
    app.kubernetes.io/name: waylonwalker-com
    app.kubernetes.io/component: cache
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: build-cache-pvc
  namespace: go-waylonwalker-com
  labels:
    app.kubernetes.io/name: waylonwalker-com
    app.kubernetes.io/component: cache
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn