<article id="posts" class="h-feed hfeed list archive-list">
    <ul>
<li class="post group blog-post h-entry hentry">
    <a href="/start/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Start</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Welcome to waylonwalker.com, my small corner of the internet.  I currently have I have quite a few different feeds that you can browse or subscribe to in your r
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2025-01-03">
                2025-1-3
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/colophon/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Colophon</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            All posts on this site are written by  see more in  This site is a static site build with my own static site generator  [ [ cloudflare pages see more about thes
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2025-01-02">
                2025-1-2
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/blogging-in-2024/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Blogging In 2024</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Over the past years couple of years blog traffic has been tanking, for some I dug into my emails from the google search console team and found two results ![ Ma
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-08-05">
                2024-8-5
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/latest/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Latest</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            My latest blog post is 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-06-01">
                2024-6-1
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/about-this-site/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">About This Site</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I registered waylonwalker.com and started making content for it in 2017 after a This was very similar to what happened to the tech industry in 2024. See  It Dig
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-05-31">
                2024-5-31
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/thoughts/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Thoughts</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            These are generally my thoughts on a web page or some sort of url, except a These posts are intended to in two ways.  One, link building for the author.  I All 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-04-01">
                2024-4-1
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/links/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Links</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2022-05-07">
                2022-5-7
            </time>
        </div>
    </a>
</li><li class="post group til h-entry hentry">
    <a href="/vim-markdown-links/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Automatically Generate A List Of Markdown Links In...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Let Before you run someone Something that I have always appreciated form Searchng through the internet I was able to find an article from Here is my interpretat
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                TIL: Today I Learned
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2022-03-19">
                2022-3-19
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/about/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Waylon Walker</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            👋 Hi, I am Waylon Walker.  Husband, Father of two, and creator things on the I believe in a decentralized platform where everyone has their own space on I am a 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2021-11-20">
                2021-11-20
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/uses/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Uses</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            This is a listing of all the things that I use on a daily basis to build data Everything installed on my machines is done through ansible-playbooks.  It I run U
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2021-11-20">
                2021-11-20
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/expand-one-line-links/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Expand One Line Links</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I wanted a super simple way to cross-link blog posts that require as little effort as possible, yet still looks good in vanilla markdown in GitHub.  I have been
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2020-11-18">
                2020-11-18
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/thank-you/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Thanks For Subscribing</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            You&#39;re awesome! Thanks for subscribing to my newsletter.
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2020-05-20">
                2020-5-20
            </time>
        </div>
    </a>
</li>    </ul>
</article>