<article id="posts" class="h-feed hfeed list archive-list">
    <ul>
<li class="post group thoughts h-entry hentry">
    <a href="/thoughts-492/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Linkding | Linkding</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            linkding looks like an interesting alternative to thoughts.  Thoughts is focused on the note being a value add tweet len
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2025-01-02">
                2025-1-2
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-493/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 (102) We Need To Have A Talk... - Youtube</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Theo does a fantastic history of serverless here.

## Kubernetes shit

Theo can&#39;t have an infra video without shitting o
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2025-01-02">
                2025-1-2
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-494/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Slash Pages</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            A nice list of slashpages you might want to consider including / aliasing / 301ing. These feel like nice things to setup
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2025-01-02">
                2025-1-2
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-495/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Changelog • Robb Knight</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Well done changelog with some really good inspirational nuggets.  Many slash pages I want to check out and an 11ty contr
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2025-01-02">
                2025-1-2
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/slow-nfs-performance/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Slow Nfs Performance</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I I I just started trying to build this site in a cronjob, It was taking 20 minutes I just moved into the master node and the results were wild at ~30x faster I
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2025-01-02">
                2025-1-2
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/colophon/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Colophon</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            All posts on this site are written by  This site is a static site build with my own static site generator  [ [ cloudflare pages More about this site on these  {
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2025-01-02">
                2025-1-2
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-488/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Why Your Backend Shouldn'T Serve Files - Youtube</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Lane from boot.dev madde this fantastic video about serving files on the internet.  It has me wondering if I need to ret
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-31">
                2024-12-31
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-489/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Wrapping Your Favorite Cli In Neovim - Youtube</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            cool video on expanding vim with cli.


## piping commands into vim

![piping commands into vim](https://dropper.wayl.on
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-31">
                2024-12-31
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-481/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Gary Vaynerchuk: "2025 : The Year Of Action … Wh...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Gary Vee, is the goat.  leaving this image as a reminder for myself

![image](https://dropper.wayl.one/api/file/074edddb
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-30">
                2024-12-30
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-482/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Addy Osmani: "Tip: Chrome Devtools Can Override ...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            WTF, you can just change a server response from devtools and update a vuejs app?  Just tried with htmx, and my GET reque
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-30">
                2024-12-30
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-484/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 How To Configure Base Url For All Requests Using...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Today I learned how to configure the baseurl for htmx using the &lt;base&gt; tag.  This is pretty handy to be able to configur
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-30">
                2024-12-30
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-485/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Teleport To Coop Partner | Hypixel Forums</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            /p warp will warp your party to your current server in hypixel skyblock

![image](https://dropper.wayl.one/api/file/a4f5
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-30">
                2024-12-30
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-486/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 The Beautiful Sentence That Is The Web</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Nicely worded Cassidy!  Javascript can be too much, it can bog down low powered devices, we can ship so much that its un
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-30">
                2024-12-30
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-487/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Curl With Partial Files | Daniel.Haxx.Se</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            This is a cool new feature coming to bash, I can&#39;t think of a use case I have out of the gate, but it looks cool.  I&#39;m t
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-30">
                2024-12-30
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-474/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 (100) Hybrid Cloud Show – Episode 20 - Youtube</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Red Hat has donated the whole open alternative to docker to the CNCF, the hosts weigh in with thier opinions all being p
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-28">
                2024-12-28
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-475/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Ellie Huxtable: "Atuin V18.4 Is Out Now! Includi...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Atuin v18.4 is out with an atuin wrapped command.


Here&#39;s Ellie&#39;s Wrapped.

![image](https://dropper.wayl.one/api/file/
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-28">
                2024-12-28
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-471/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Kitze 🚀 On X: "Holy Fk I Thought Package.Json Wa...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            kitze hating on  python packaging in new ways.  Python packaging has a lot of quirks that can make it infuriating.  Not 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-27">
                2024-12-27
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-472/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Getting A Dev Job In 2025 - Youtube</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Theo weighing in on the 2025 job market.  It&#39;s no 2018 out there right now, the ratio of jobs to engineers in the market
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-27">
                2024-12-27
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-473/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Are We Cooked W/ O3? - Youtube</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Holy shit these AGI models are incredibly expensive to run, require lots of wild hardware that there is not enough to go
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-27">
                2024-12-27
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/setting-up-ucore-zfs/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Setting Up Ucore-Zfs</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I just setup my oldest hardware on the newest hotest server distro ucore-zfs. My current boot log shows that I first started daily driving bazzite back in Four 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-27">
                2024-12-27
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-468/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 (98) 4 Tips For Building A Production-Ready Fast...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Great list of 4 tips for running fastapi applications.  

## Keep routes small

Fat routers with all of the logic built 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-26">
                2024-12-26
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-469/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 (98) Ubuntu Summit 2024 | Umu - A Unified Tool F...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Damn Glorious Eggrolls is still making gaming on linux better.  Of course its containerization that drives everything on
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-26">
                2024-12-26
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-470/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 (98) Custom Gridfinity Bins For Anything! - Yout...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            This tip of using tinkercad to do boolean operations on an stl of a solid gridfinity bin and an outline is absolute fire
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-26">
                2024-12-26
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-464/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Depot</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Just learned about depot today ironically because it seems to be down and fly is using them under the hood to do the con
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-25">
                2024-12-25
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-465/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Deploy To Fly Using A Depot Builder</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Here the integration to depot appears to be opt in using the `--depot` flag on `fly deploy`.  This must have changed ove
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-25">
                2024-12-25
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-466/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Status | Depot</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Depot&#39;s uptime seems to be great.  I definitely hit some issues with it this afternoon 12/24/24 that were not reported. 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-25">
                2024-12-25
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-467/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Building Python Tools With A One-Shot Prompt Usi...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            This is really interesting, the lazy uv scripts are really becoming quite appealing, especially for something like this 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-25">
                2024-12-25
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-458/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Lazy Self-Installing Python Scripts With Uv</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I really like Trey&#39;s steps to making an executable python script with uv

his old process seems to be the same with a ne
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-24">
                2024-12-24
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-459/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Switching From Virtualenvwrapper To Direnv, Star...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I&#39;ve kinda fallen out of using direnv now that a lot of my projects use hatch, I generally just hatch shell into them.  
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-24">
                2024-12-24
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-460/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Pep 723 – Inline Script Metadata | Peps.Python.O...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            PEP 723 is what is inspiring all of these lazy self installing python scripts, Authored by the author of hatch and pyapp
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-24">
                2024-12-24
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-461/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 (98) Talking With Typecraft - Youtube</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            This is a pretty great episode talking shop with typecraft.  They talk setups, cameras, content creation. I found them t
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-24">
                2024-12-24
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-462/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Dedicated Servers | Intel Servers | Amd Servers ...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Dax talked about this in a recent How about tomorrow podcast https://thoughts.waylonwalker.com/post/461.  He is using it
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-24">
                2024-12-24
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-463/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 (91) Cursor + Windsurf Settings To 5X Ai'S Outpu...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            This was an eye opening video into agentic editing workflows.


## setting rules

Dfferent ai tools use different rules 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-24">
                2024-12-24
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-457/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 My Approach To Running A Link Blog</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I still cannot believe I thought I had such a unique idea with thoughts only to find out shortly thereafter that Simon b
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-23">
                2024-12-23
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-454/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 How I Use Obsidian Templater</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I really like this idea of keeping a set up contacts in a markdown repo, and being able to wikilink them to different ti
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-22">
                2024-12-22
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-455/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 How I Use Obsidian Templater</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            This is a test post.  I just updated the chrome extension for thoughts to take a the thumbnail image on open of the chro
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-22">
                2024-12-22
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-456/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 How I Use Obsidian Templater</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Ok, second post on this one.  I am sending only head requests, so I want to see the first request for the image, which h
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-22">
                2024-12-22
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-453/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Docker Context (And An Issue To Question Your Sa...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Dang context can really cause you to pull your hair out.  Context seems so freaking convenient, but I&#39;ve avoided it and 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-19">
                2024-12-19
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-448/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 How To Make Your Rss Feed Pretty</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I love me some styled rss, it&#39;s how the OG internet was made to be.  You choose what you want to read and when.  There i
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-18">
                2024-12-18
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-449/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Damn, I Love Dropper Already</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Damn I&#39;m loving using dropper already, I am able to copy paste images right into posts on thoughts.  This is my first po
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-18">
                2024-12-18
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-450/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 I Got The Adhd, Too - Daverupert.Com</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Cheers to the Unique brains dave.  I can say I am 100% with Dave on all of these, except the clean environment thing, lu
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-18">
                2024-12-18
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-451/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 (88) Styling Better Custom Inputs With Dave Rupe...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Reminder to tune in later, can&#39;t watch now, but saw a link on Dave&#39;s blog.

![image](https://dropper.wayl.one/api/file/e
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-18">
                2024-12-18
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/thoughts-0-0-4/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Thoughts 0.0.4</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            This is such an improvement to the backend of my website it warrants a blog Let This is the tiny ass form nested deeply in the flow of the feed.  When I made th
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-18">
                2024-12-18
            </time>
        </div>
    </a>
</li><li class="post group til h-entry hentry">
    <a href="/links-rely-on-color-to-be-distiniquishable/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Links Rely On Color To Be Distiniquishable</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Today i got hit by this accessibility issue on my site.  Low contrast links are I ended up dropping the background color of the site down a notch as I didn Now 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                TIL: Today I Learned
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-17">
                2024-12-17
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-446/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Add A Healthcheck To Your Fastapi App | Pype.Dev</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Nice example of adding a healthcheck to fastapi, and integrating it with docker.  Don&#39;t forget to include curl in the in
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-16">
                2024-12-16
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-447/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Dropper</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Dropper is a place for me to drop files for quick posts like this.

![image](https://dropper.wayl.one/api/file/c3a4c39d-
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-16">
                2024-12-16
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-443/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Hurl - Run And Test Http Requests</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Hurl was mentioned by [@gerhard](https://gerhard.io/) on the latest [changelog and Friends](https://www.youtube.com/watc
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-14">
                2024-12-14
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-444/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Pipedream/Justfile At Main · Thechangelog/Pipedr...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I found this nugget in thechangelogs justfile, it lets you add color to your justfile with variables quite easily.

``` 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-14">
                2024-12-14
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-445/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Casey/Just: 🤖 Just A Command Runner</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            new versions of just now come with color variables already set.

``` bash
[group(&#39;manage&#39;)]
version:
    #!/usr/bin/env 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-14">
                2024-12-14
            </time>
        </div>
    </a>
</li><li class="post group til h-entry hentry">
    <a href="/urllink/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Urllink</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Today I discovered the 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                TIL: Today I Learned
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-14">
                2024-12-14
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-442/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Watchfiles</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Simple, modern and high performance file watching and code reload in python.
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-13">
                2024-12-13
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-441/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Hostnamectl To Easily Change Hostname | Pype.Dev</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            For some reason the ublue ecosystem does not prompt you to set your hostname on install and you get a hostname like bazz
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-06">
                2024-12-6
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-440/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Ansible Galaxy - Amazon.Aws</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Great examples for working with s3 buckets with ansible.
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-05">
                2024-12-5
            </time>
        </div>
    </a>
</li>    </ul>
</article>