<article id="posts" class="h-feed hfeed list archive-list">
    <ul>
<li class="post group blog-post h-entry hentry">
    <a href="/trying-obsidian/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Trying Obsidian</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I am giving obsidian a try, this is a test post to learn the flow.  Something This is my current wallpaper. ![
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-31">
                2024-7-31
            </time>
        </div>
    </a>
</li><li class="post group til h-entry hentry">
    <a href="/obsidian-using-templater-like-copier/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Obsidian Using Templater Like Copier</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I Here is what I came up with to replace my til template. tR to.file.cursor()
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                TIL: Today I Learned
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-31">
                2024-7-31
            </time>
        </div>
    </a>
</li><li class="post group til h-entry hentry">
    <a href="/obsidian-image-converter/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Obsidian Image Converter</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I ![ Once the images are there they are pushed and deployed as their own site to ! This is part of me getting set up and 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                TIL: Today I Learned
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-30">
                2024-7-30
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-374/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 How Fly.Io Uses Docker (Without Docker) - Youtub...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Docker no Docker, what!!!


So fly.io uses Dockerfiles to deploy your app, but no docker.  They use containerd to downlo
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-27">
                2024-7-27
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-372/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 This Is Goodbye? - Youtube</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Damn Johnny is always such a positive vibe, just getting steamrolled by this braille shit.  WTF are these brand sleeping
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-26">
                2024-7-26
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-373/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Ultimate Modular Macro Keyboard "Kibly" : R/Mech...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            This is a pretty sick design, touch screen macropad, trackball, ring, and knobs for days.  I just want to play with it a
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-26">
                2024-7-26
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-360/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Add Quick-Tap-Ms And Require-Prior-Idle-Ms · Way...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Even after switching to my hm and ht behaviors I am running into some issues where sometimes I am still accidentally hit
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-25">
                2024-7-25
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-361/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Note-Taking With Zettelkasten - An Introduction ...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Niklas Luhmann created the Zettelkasten method of notetaking, He was the Da Vinci of writing, holding a high standard th
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-25">
                2024-7-25
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-369/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 He'S Back Again</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Wyatt is again inspired to leave his thoughts on the world while watching me take notes on the zettelkasten method.
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-25">
                2024-7-25
            </time>
        </div>
    </a>
</li><li class="post group til h-entry hentry">
    <a href="/convert-mp4-for-twitter-with-ffmpeg/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Convert Mp4 For Twitter With Ffmpeg</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                TIL: Today I Learned
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-25">
                2024-7-25
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-356/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 There’S A Tui For That With Nick Janetakis (Chan...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            50 minutes into this episode they start a discussion on seo, and naming posts.  They give Jerod the task of googling for
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-24">
                2024-7-24
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-357/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Sqlite-Jiff</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Sqlite is getting rust extensions now, and datetimes make it totally worth if if they work well and and fast, two things
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-24">
                2024-7-24
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-358/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Git Fork Vs Git Clone (Animated) - Youtube</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Damn Prime covers this so well from all angles.  Can&#39;t overstate the importance of that last step.  Look at the issues, 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-24">
                2024-7-24
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-359/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Tickle My Keys</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I&#39;ve been working on something, I&#39;m gong to combine my mechanical engineering skills with my love of great keyboards and
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-24">
                2024-7-24
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-355/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 The Verge On X: "Stress Testing A Snack-Proof Ke...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            This is a wild keyboard test.  This is exactly what I want to see from ticklemykeys.com.  I want to make ergomechanical 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-23">
                2024-7-23
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-354/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 All Lt Keys To Hl · Waylonwalker/Zmk-Config-42Bl...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Today I swapped out all of my keys that are used dual purpose for letters and layers to homerow layers.  This prevents g
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-22">
                2024-7-22
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-353/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 /Tips-For-Being-Happier--Healthier--More-Product...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Deep breath, the deepest you can take in

Smile, a real fukin smile not some pansy bullshit

Say I&#39;m not going to give a
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-20">
                2024-7-20
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-352/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Can'T Use System Update - Invalid Signature When...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            This fixed my bazzite update issues after the signing key was rotated recently.  This team is killing it with such a gre
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-18">
                2024-7-18
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-351/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Update Kconfig.Shield Rec By Bravekarma · Waylon...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            This one space killed my whole config and held me back from learning zmk.
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-17">
                2024-7-17
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-348/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Red Herring - Solenoid Edition Sound Test - Yout...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            This keyboard layout looks weird af the mix of column staggar and row stagger is wild.  Not sure if its genius or an abo
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-15">
                2024-7-15
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-349/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Nec M-System</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            They had split ergo boards back in 1983??? WTF who the heck keeps these row stagger boards going.  This board looks like
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-15">
                2024-7-15
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-350/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Dragonfruit</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            The trackball spinner looks sick here.  I can imagine using that spinner like a scroll wheel.
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-15">
                2024-7-15
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-347/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Text Cursor Bug In My Chrome Browser That Causes...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            today I learned that there is an accessibility feature in chrome that allows you to place a text cursor anywhere on the 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-12">
                2024-7-12
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-343/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Remove Background Web - A Hugging Face Space By ...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I&#39;ve long been a user of remove.bg, and I just discovered that you can run this transformer right within your browser wi
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-11">
                2024-7-11
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-344/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Render-Blocking On Purpose</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            You can explicitly make a script render blocking, nothing will be rendered until this js is ready.


``` html
&lt;script bl
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-11">
                2024-7-11
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-345/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Command Line Interface Guidelines</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            This is a pretty sick set of guidelines to help you write better cli programs, I&#39;m definitely coming back to reading thi
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-11">
                2024-7-11
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-346/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Python Is Simultaneously At The Top And The Bott...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Hard to argue this take, happy to see that its at the top.  With it being such an old language its amazing that it still
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-11">
                2024-7-11
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-340/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Pinout And Schematic - Nice!Nano</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Pinout for nice!nano boards.   Note that P0.15 means gpio port 0 pin 15, they can be referenced in zmk when setting colu
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-10">
                2024-7-10
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-341/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Fasthx</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Very interesting approach to htmx and fast api.  It uses separate decorators for returning template partials and json th
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-10">
                2024-7-10
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-342/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Fasthx</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Very interesting approach to htmx and fast api.  It uses separate decorators for returning template partials and json th
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-10">
                2024-7-10
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-339/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Linux - What Is Stored In /Dev/Pts Files And Can...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            today I learned that /dev/pts is a pseudo-tty.  It amazes me how much linux is still built around things like hardware t
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-07">
                2024-7-7
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/blogging-in-2024/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Blogging In 2024</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-07">
                2024-7-7
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-335/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Wcurl Is Here | Daniel.Haxx.Se</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            interesting, seems like such a simple way to completely remove the need of a whole other cli.  No offense to anyone work
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-06">
                2024-7-6
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-336/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Inside 22,734 Steam Games | Daniel.Haxx.Se</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Interesting to see that curl is used in so many places.  I often think of things like games being so windows centric and
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-06">
                2024-7-6
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-337/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Pacman/Tips And Tricks - Archwiki</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            The arch wiki is always full of good content, and pacman tips and tricks does not disappoint.  Today I discovered this c
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-06">
                2024-7-6
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-338/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Svenstaro/Miniserve: 🌟 For When You Really Just ...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            miniserve is a sweet http server, replacement for `python -m http.server`.  It&#39;s fast, runs off a small binary, but why 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-06">
                2024-7-6
            </time>
        </div>
    </a>
</li><li class="post group til h-entry hentry">
    <a href="/arch-remove-orphaned-packages/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Arch Remove Orphaned Packages</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                TIL: Today I Learned
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-06">
                2024-7-6
            </time>
        </div>
    </a>
</li><li class="post group til h-entry hentry">
    <a href="/kubebernetes-kustomize-diff/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">K8S Kustomize Diff</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I You can enable color diffs by using an external diff provider like colordiff. You might need to install colordiff if you don Now I can try out kustomize chang
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                TIL: Today I Learned
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-06">
                2024-7-6
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-334/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Email Address Obfuscation · Cloudflare Web Appli...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I recently started seeing email-decode.min.js show up on my blog posts, and I wondered what the heck ?  I didn&#39;t put it 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-04">
                2024-7-4
            </time>
        </div>
    </a>
</li><li class="post group til h-entry hentry">
    <a href="/animal-well-keyboard/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Animal Well Keyboard</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Animal well does not let you remap keys, and really doesn wasd - move space - jump / a enter - interact / b x - throw c - inventory 1 - left item / rb 2 - open 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                TIL: Today I Learned
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-04">
                2024-7-4
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-330/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 (416) Kustomize: The Best Way To Manage Your Kub...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Great intro into kustomize.  This helped me get started with kustomize.
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-03">
                2024-7-3
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-331/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Diskcache Api Reference — Diskcache 5.6.1 Docume...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            diskcache has a peekitem method that allows you to lookup the expire_time of a cached item without changing it.  I recen
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-03">
                2024-7-3
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-332/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Markdown-It-Pyrs · Pypi</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            markdown it py running in rust claims to be 20x faster.  I&#39;ll definitely look into this if markdown it py is ever a bott
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-03">
                2024-7-3
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-333/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Background Tasks - Fastapi</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            fastapi comes with a concept of background tasks which are functions that can be ran in the background after a function 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-03">
                2024-7-3
            </time>
        </div>
    </a>
</li><li class="post group til h-entry hentry">
    <a href="/diskcache-as-debounce/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Diskcache As Debounce</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I ! I am using it for longer running tasks and I don check if a job is running automatically expire jobs My brain first went to thinking I needed another servic
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                TIL: Today I Learned
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-03">
                2024-7-3
            </time>
        </div>
    </a>
</li>    </ul>
</article>