<article id="posts" class="h-feed hfeed list archive-list">
    <ul>
<li class="post group til h-entry hentry">
    <a href="/setup-cloudflared-tunnel-on-ubuntu/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Setup Cloudflared Tunnel On Ubuntu</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I run a cloudflared tunnel on my ubuntu server to expose applications running Now setup the config directory.  For the systemd service to work, the config Now w
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                TIL: Today I Learned
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-12-02">
                2024-12-2
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-438/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Fitting Two Hard Drives And An Ssd In A Dell Opt...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            This guy fit 2 3.5&#34; drives and an sdd in a dell 7050 SFF.  It looks tight, and there it probably not much airflow runnin
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-27">
                2024-11-27
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-435/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Changelog On X: "🗣️@Dhh On Kubernetes' Migration...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            switching cloud providers, theres no easy way.  K8s was supposed to get us there, haha, the deep integrations with each 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-25">
                2024-11-25
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-436/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 If Anyone Else Is Having Sound Clicking With Cha...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            This is definitely happening to my secretlabs chair.  I did the fix this morning, its still not perfect, but it&#39;s better
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-25">
                2024-11-25
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-437/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 How To Fix An Office Chair Popping Noise? With R...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I tried this fix on my secretlabs chair, but unfortunately it did nothing for me.  Mine ended up being an issue in the t
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-25">
                2024-11-25
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-434/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 (44) How To Make A Good First Impression In Busi...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Dang, love this guys branding.  Hooks to get stuff offDaBench, what a freaking cool name.
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-24">
                2024-11-24
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-433/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Inside Argo: Automating The Future - Youtube</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            This is a really amazing documentary of argocd.  I got into k8s pretty late in the game.  Which is pretty typical for me
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-22">
                2024-11-22
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-432/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Introduction - Bootc</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            bootc is the underlying technology that enables OS&#39;s like bazzite, and Aurora from the uBlue ecosystem.
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-21">
                2024-11-21
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-430/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Wes Bos On X: "Css Anchors: Flip A Tooltip To Th...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            These css anchors are crazy that you can do this with html and not a bunch of js, probably requiring a library or framew
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-19">
                2024-11-19
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-431/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Saghen/Blink.Cmp: Performant, Batteries-Included...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            A new completion plugin that I might give a try.  Readme makes it sound like its built on some fast teck that allows the
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-19">
                2024-11-19
            </time>
        </div>
    </a>
</li><li class="post group til h-entry hentry">
    <a href="/price-an-stl-print-on-slant3d/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Price An Stl Print On Slant3D</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I I You will need an api key from the slant api, which currently requires a google Then you can run the python script to price out your print.  I
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                TIL: Today I Learned
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-18">
                2024-11-18
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-429/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Statically Makes Og Images **Easy** (2048×1170)</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Staically makes creating OG images so easy, you can just pop this in your &lt;head&gt; section with some og tags.

``` html
  
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-17">
                2024-11-17
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-428/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 E576: Error While Reading Shada File: There Is A...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I hit an interesting error after updating my nvim plugins today.  I&#39;m sti not even quite sure what a ShaDa file is, but 
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-16">
                2024-11-16
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-427/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Production-Ready Python Docker Containers With U...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Hynek has a sick dockerfile setup for using uv in python projects.
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-15">
                2024-11-15
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-426/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Proper Handling Of None In Where Condition · Iss...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            SQLModel models ship with an `is_`, and `is_not` that you can use to compare to None without pesky linters complaining.

        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-08">
                2024-11-8
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-423/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Gridfinity Rugged Storage Box, Parametric And Cu...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            gridfinity rugged box openscad

        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-06">
                2024-11-6
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-424/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Rugged Storage Box, Parametric And Customizable ...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Non Gridfinity Rugged boxes
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-06">
                2024-11-6
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-422/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Cluster Api Book</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Cluster API book
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-05">
                2024-11-5
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-421/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Gridfinity Generator</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Gridfinity generator uses open scad, so you can make rugged boxes, bins and base plates with form input.  not fully cust
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-04">
                2024-11-4
            </time>
        </div>
    </a>
</li>    </ul>
</article>