<article id="posts" class="h-feed hfeed list archive-list">
    <ul>
<li class="post group thoughts h-entry hentry">
    <a href="/thoughts-311/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Episode #323 Best Practices For Docker In Produc...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            Great listen for anyone interested in productionizing python code with docker.  Itamar brings up some 


Don&#39;t trust bas
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-06-16">
                2024-6-16
            </time>
        </div>
    </a>
</li>    </ul>
</article>