<article id="posts" class="h-feed hfeed list archive-list">
    <ul>
<li class="post group thoughts h-entry hentry">
    <a href="/thoughts-529/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Supermini Nrf52840 Wireless Controller Developme...</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            The SuperMini nrf52840 is a sick controller for building keyboards, affordable, easy to get, and compact.  Bluetooth and
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2025-01-13">
                2025-1-13
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-530/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Availability</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            nice overview of availability measurements and what they really mean.  The crazy world we live in today depends on so ma
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2025-01-13">
                2025-1-13
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-531/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 Why I Write</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            It&#39;s interesting how many people in tech maintain a blog.  I think part of this brings us back to web 1.0 days when so m
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2025-01-13">
                2025-1-13
            </time>
        </div>
    </a>
</li><li class="post group thoughts h-entry hentry">
    <a href="/thoughts-532/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">💭 (110) The Future Of Htmx - Youtube</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            I like the charts that Theo brings to to these videos.  Shout out for a positive k8s reference and not shitting on it.


        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                thoughts
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2025-01-13">
                2025-1-13
            </time>
        </div>
    </a>
</li><li class="post group blog-post h-entry hentry">
    <a href="/wondercraft-session-one/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">Wondercraft Session One</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            My son and I are starting a new Minecraft server today called wondercraft. We initially spawned in a plains biome near an acacia and forest biome.
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                blog-post
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2025-01-13">
                2025-1-13
            </time>
        </div>
    </a>
</li>    </ul>
</article>