<article id="posts" class="h-feed hfeed list archive-list">
    <ul>
<li class="post group til h-entry hentry">
    <a href="/k3s-config-after-first-install/" class="u-url" rel="bookmark" hx-boost="true">
        <h2 class="p-name entry-title">K3S Config After First Install</h2>
        <p class="description p-0 px-1 m-0 p-summary entry-summary">
            
        </p>
        <div class="card-footer">
            <p rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                TIL: Today I Learned
            </p>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-09-15">
                2024-9-15
            </time>
        </div>
    </a>
</li>    </ul>
</article>