h1 {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Space Mono", monospace;
}

h1 {
    font-size: 2.5em;
    font-family: "Space Mono", monospace;
    color: #6A65CA;
    color: #FF66C4;
}

h2 {
    font-size: 1.63rem;
    color: hsla(323, 47%, 70%, 1);
}

h3 {
    font-family: "Space Mono", monospace;
}

p {
    font-family: "Space Mono", monospace;
    color: rgba(255, 255, 255, 0.60);
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.5;
}

@media only screen and (max-width: 700px) {
    p {
        font-size: 18px;
    }
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 500px) {
    p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 400px) {
    p {
        font-size: 12px;
    }
}

blockquote {
    font-family: "Space Mono", monospace;
}

code {
    font-family: "Space Mono", monospace;
}

pre {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-family: "Space Mono", monospace;
    font-family: "Space Mono", monospace;
    /* font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px; */
}

a {
    font-family: "Space Mono", monospace;
    color: #6F6BAE;
    text-decoration-color: goldenrod;
}


/* h1 {
    font-size: 4rem;
    font-family: 'Waterlily-Regular';
    color: #6A65CA;
    background: -webkit-linear-gradient(#a7a4e0, #6A65CA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, .3)
} *//* --icon-search: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M0 0h24v24H0z" stroke="none"/><circle cx="10" cy="10" r="7"/><path d="M21 21l-6-6"/></svg>'); */


/* --icon-pencil: */


/* --icon-abstract: 
/* --icon-info: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 002 12a10 10 0 0010 10 10 10 0 0010-10A10 10 0 0012 2z"/></svg>'); */


/* --icon-flame: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17.55 11.2c-.23-.3-.5-.56-.76-.82-.65-.6-1.4-1.03-2.03-1.66C13.3 7.26 13 4.85 13.91 3c-.91.23-1.75.75-2.45 1.32-2.54 2.08-3.54 5.75-2.34 8.9.04.1.08.2.08.33 0 .22-.15.42-.35.5-.22.1-.46.04-.64-.12a.83.83 0 01-.15-.17c-1.1-1.43-1.28-3.48-.53-5.12C5.89 10 5 12.3 5.14 14.47c.04.5.1 1 .27 1.5.14.6.4 1.2.72 1.73 1.04 1.73 2.87 2.97 4.84 3.22 2.1.27 4.35-.12 5.96-1.6 1.8-1.66 2.45-4.32 1.5-6.6l-.13-.26c-.2-.46-.47-.87-.8-1.25l.05-.01m-3.1 6.3c-.28.24-.73.5-1.08.6-1.1.4-2.2-.16-2.87-.82 1.19-.28 1.89-1.16 2.09-2.05.17-.8-.14-1.46-.27-2.23-.12-.74-.1-1.37.18-2.06.17.38.37.76.6 1.06.76 1 1.95 1.44 2.2 2.8.04.14.06.28.06.43.03.82-.32 1.72-.92 2.27h.01z"/></svg>'); */


/* --icon-question: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.07 11.25l-.9.92C13.45 12.89 13 13.5 13 15h-2v-.5c0-1.11.45-2.11 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41a2 2 0 00-2-2 2 2 0 00-2 2H8a4 4 0 014-4 4 4 0 014 4 3.2 3.2 0 01-.93 2.25M13 19h-2v-2h2M12 2A10 10 0 002 12a10 10 0 0010 10 10 10 0 0010-10c0-5.53-4.5-10-10-10z"/></svg>'); */


/* --icon-warning: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 14h-2v-4h2m0 8h-2v-2h2M1 21h22L12 2 1 21z"/></svg>'); */


/* --icon-failure: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2c5.53 0 10 4.47 10 10s-4.47 10-10 10S2 17.53 2 12 6.47 2 12 2m3.59 5L12 10.59 8.41 7 7 8.41 10.59 12 7 15.59 8.41 17 12 13.41 15.59 17 17 15.59 13.41 12 17 8.41 15.59 7z"/></svg>'); */


/* --icon-spark: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.5 20l4.86-9.73H13V4l-5 9.73h3.5V20M12 2c2.75 0 5.1 1 7.05 2.95C21 6.9 22 9.25 22 12s-1 5.1-2.95 7.05C17.1 21 14.75 22 12 22s-5.1-1-7.05-2.95C3 17.1 2 14.75 2 12s1-5.1 2.95-7.05C6.9 3 9.25 2 12 2z"/></svg>'); */


/* --icon-admonition-default: var(--icon-abstract); */

* {
    box-sizing: border-box;
}

* {
    font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
}

div,
html,
body,
nav,
header,
hgroup,
footer,
section,
article {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
}

ul,
li,
p {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 1rem;
}

html,
body {
    min-height: 100vh;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 2rem;
    overflow-x: hidden;
    color: #fafafa;
    display: flex;
    padding: 0;
    background-size: 800px;
    min-height: 100vh;
    background: rgb(40, 44, 52);
    background: linear-gradient( 81deg, rgba(40, 44, 52, 1) 0%, rgba(58, 46, 61, 1) 100%);
}

section {
    margin-bottom: 5rem;
}

h1 {
    color: #ff66c4;
}

ul.archive-list {
    box-shadow: 0 0 2rem rgba( 0, 0, 0, .3), -8rem -6rem 8rem -6rem rgba(253, 221, 88, 0.2), 4rem 0 8rem rgba(88, 82, 185, 0.3), 0rem 0rem 2rem -1.6rem rgba(255, 215, 70, 0.8);
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 1rem;
}

li.post {
    margin: 0;
    width: 100%;
    /* border-top: 1px solid #ff66c4; */
    list-style-type: none;
    border-width: 1px;
    border-style: solid;
    /* border-image: linear-gradient( to right, #ff66c4, rgba(255,102,196,.2)) 1 0 100%; */
    border-image: linear-gradient( to right, #ff66c4, rgba(255, 102, 196, .2)) 1 0 0 0;
}

li.post:nth-child(2n-1) {
    background-color: rgba(255, 255, 255, .01);
    background-image: linear-gradient(22deg, rgba(255, 255, 255, .0), rgba(255, 255, 255, .03));
}

li.post:nth-child(2n) {
    background-color: rgba(0, 0, 0, .02);
    background-image: linear-gradient(22deg, rgba(0, 0, 0, .0), rgba(0, 0, 0, .03));
}

li.post a {
    color: #fafafa;
    text-decoration: none;
}

li.post h2,
li.post p {
    max-width: 800px;
    width: calc(100vw - 100px);
}

li.post h2,
li.post p {
    margin-left: 2rem;
    margin-right: 2rem;
}

li.post:hover h2,
li.post a:focus-visible h2 {
    color: #ff66c4;
}

p {
    color: lightgrey;
}

li.post:hover p,
li.post a:focus-visible p {
    color: #fafafa;
}

nav {
    padding: 1rem 0;
    align-items: flex-end;
    max-width: 1000px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 .4rem;
}

nav ul li a {
    text-align: center;
    color: gainsboro;
    text-decoration: none;
    padding: .5rem!important;
    margin-left: .1rem;
    margin-right: .1rem;
    align-items: flex-end;
}

ul.archive-tags li:hover a,
ul.archive-tags li a:focus-visible,
nav ul li a:focus-visible,
nav ul li:hover a {
    color: #ff66c4;
}

ul.archive-tags {
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: gainsboro;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    margin-bottom: 2rem;
    width: 100%;
}

ul.archive-tags li {
    padding: .2rem 1rem;
}

ul.archive-tags li a {
    text-decoration: none;
    color: #fafafa;
}#cover-wrapper {
    z-index: 2;
    width: 100%;
    min-height: min(420px, 100vw / 2.38);
}

#cover-wrapper img {
    width: calc(100% + 2rem);
    margin: -2rem;
}

#title-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: calc(100% + 2rem);
    left: -1rem;
    padding: 8rem 1rem 0;
    margin-top: -8rem;
    margin-bottom: 2.2rem;
    background: linear-gradient( 149deg, rgba(40, 44, 52, 1) 0%, rgba(58, 46, 61, .0) 100%);
    border-bottom: 1px solid goldenrod;
}

#title-wrapper h1 {
    margin-top: 8rem;
    margin-bottom: 0;
}

#title-wrapper p {
    text-align: right;
    padding-left: 0;
    margin-bottom: 0;
}

#title-wrapper a {
    color: goldenrod;
    text-decoration: none
}

#title-wrapper .h-card .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem 0;
}

.post-date,
.p-note {
    color: rgba(255, 255, 255, .2);
}

#title-wrapper a:focus-visible,
#title-wrapper a:hover {
    color: #ff66c4;
}

article.blog-post,
div#post-body {
    display: block;
}

article.blog-post .toc a {
    padding: .3rem;
}

article.blog-post .toc li {
    margin: .65rem;
}

article.blog-post .toc ul {
    list-style-type: none;
    border: none;
    padding: 0;
    margin: 0 0 .5rem;
}

article.blog-post div.toc {
    margin-bottom: 1rem;
}

article.blog-post div.toc:after {
    content: '';
    display: block;
    width: 50%;
    border-bottom: 1px solid goldenrod;
}

h2.toc {
    margin-bottom: 1rem;
    text-align: center;
    color: rgba(255, 255, 255, .8);
}

.toc li {
    margin: 1rem;
}

.toc a {
    color: rgba(255, 255, 255, .5);
}

.toc a:focus-visible,
.toc a:hover {
    color: #ff66c4;
}

article.blog-post {
    overflow: hidden;
    background: rgba(51, 0, 38, 0.13);
    background: hsla(234, 33%, 15%, 0.66);
    display: block;
    margin: 0.2rem;
    width: min(95vw, 1000px);
    position: relative;
    margin: 2rem 0;
    padding: 1rem;
    padding-bottom: 5rem !important;
    border-radius: 2px;
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: whitesmoke;
}

@media (max-width: 650px) {
    article.blog-post {
        width: 100vw;
        width: min(100vw, 1000px);
    }
}

@media (max-width: 1200px) {
    article.blog-post h1 {
        font-size: 2.5rem;
        padding: 1rem;
    }
}

@media (max-width: 1200px) {
    article.blog-post h2 {
        padding-left: 1rem;
    }
}

@media (max-width: 1200px) {
    article.blog-post h3 {
        padding-left: 1.4rem;
    }
}

@media (max-width: 1200px) {
    article.blog-post h4,
    article.blog-post h5,
    article.blog-post h6 {
        padding-left: 1.6rem;
    }
}

@media (max-width: 1200px) {
    article.blog-post {
        margin: 0rem;
        padding: 0rem;
        margin: 0rem;
    }
}

@media (max-width: 1200px) {
    article.blog-post p {
        padding: 0 0.8rem;
    }
    article.blog-post ul,
    article.blog-post ol {
        padding: 1.2rem;
    }
    article.blog-post .highlight {
        background: #282C34;
        padding: 1rem;
        margin: 0 -1rem;
        width: calc(100% + 2rem);
    }
    article.blog-post pre {
        width: 100%;
        margin-bottom: 1rem;
    }
    a {
        color: #6f6bae;
        text-decoration-color: #330026;
        text-decoration-color: goldenrod;
        /* Wyatt chose goldenrod */
    }
    p>img {
        /* opacity: .8; */
        box-shadow: 0.2rem 0.2rem 1rem rgba(51, 0, 38, 0.4);
        max-width: 1000px;
        width: 95vw;
        align-self: center;
        justify-self: center;
        align-items: center;
        justify-items: center;
        margin: auto;
    }
    strong {
        color: #d68fbb;
        display: inline-block;
        transform: rotate(-2deg);
    }
    em {
        color: #6f6bae;
        display: inline-block;
        transform: rotate(0.2deg);
        background: rgba(255, 255, 255, 0.04);
        padding: 0.1rem 0.8rem;
    }
    /* p:has(> img) {
margin: 8rem;
display: flex;
justify-content: center;
align-items: center;
} */
    h2 {
        margin-top: 5rem;
    }
    article.blog-post ul {
        border-left: 1px solid #ff66c4;
        padding: 0.5rem 0 0.025rem 3rem;
        margin: 2rem;
    }
    blockquote {
        color: #777;
        border-left: 2px solid goldenrod;
        font-size: 1rem;
        padding: 1rem 0 1rem 0.5rem;
        margin: 1.5rem 0;
    }
    hr {
        border: none;
        border-top: 1px solid goldenrod;
        margin: 1rem auto;
        background: none;
        width: min(600px, 80%);
    }
    h1 {
        margin-top: 5rem;
    }
    .tweet {
        display: flex;
        justify-content: flex-end;
        margin: 1rem 0;
    }
    .tweet a {
        display: inline-block;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        background: #645fc4;
        color: #fedd58;
        text-decoration: none;
        vertical-align: center;
    }
    .share {
        max-width: 800px;
        margin: 0.8rem auto;
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        border: 1px solid #d68fbb;
        background-color: rgba(214, 143, 187, 0.1);
        border-radius: 5px;
    }
    .share a {
        padding: 0.2rem 0.5rem;
    }
    .share p {
        margin: 0;
        padding: 0;
        padding-right: 0.2rem;
    }
    .share ul li {
        margin: 0;
        padding: 0;
    }
    .shrare ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        border: none;
        font-size: 1.3rem;
    }
}

.post-body hr {
    border-top: 2px solid rgba(218, 165, 32, 0.2);
    margin: 3rem 40% !important;
}

.h-card {
    /* background-color: rgba(255, 255, 255, .2); */
    /* padding: 1rem; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.h-card img {
    width: 50px;
    border-radius: 50%;
    margin: 0.2rem;
    display: none;
}

.h-card ul.social {
    list-style-type: none;
    border: none;
    margin: 0;
    padding: 0;
}

.h-card li {
    margin: 0;
    padding: 0;
}

.toc {
    width: min(90vw, 600px);
    margin: auto;
    position: initial;
    font-size: 0.8rem;
    line-height: 1.1rem;
}

.toc li {
    padding: 0;
    margin: 0;
}

.toc li.H1,
.toc li.H2 {
    padding-top: 0.8rem;
}

.toc li.H3 {
    padding-left: 0.5rem;
}

.toc li.H4 {
    padding-left: 1rem;
}

.toc li.H5 {
    padding-left: 1.25rem;
}

.toc li.H6 {
    padding-left: 1.5rem;
}

@media (min-width: 1500px) {
    .toc {
        display: none;
    }
}

.twitter-tweet {
    margin: 10px auto;
}


/* .onelinelink + blockquote { */

.onelinelink-wrapper {
    max-width: 100vw;
}

a.onelinelink {
    position: relative;
    left: 2rem;
    background: rgb(38, 34, 54);
    margin: -6rem auto 1rem;
    /* padding-top: 3rem; */
    border: 2px solid rgba(255, 50, 50, 0.1);
    max-width: 300px;
    border-radius: 15px/45px;
    display: block;
    flex-direction: row;
}

@media (max-width: 350px) {
    a.onelinelink {
        left: 0rem;
        margin-left: .4rem;
        margin-right: .4rem;
    }
}

@media (min-width: 800px) {
    a.onelinelink {
        max-width: 600px;
        margin: auto;
    }
}

@media (min-width: 900px) {
    a.onelinelink {
        max-width: 700px;
    }
}

@media (min-width: 1000px) {
    a.onelinelink {
        max-width: 800px;
    }
}

a.onelinelink {
    position: relative;
    z-index: 2;
    margin: 4rem;
    overflow: hidden;
    display: flex;
    border: 2px solid rgba(255, 50, 50, .1);
    background: rgba(255, 50, 50, .015);
    background: #262236;
    text-decoration: none;
    border-radius: 8px;
    max-height: 126px;
}

@media (max-width: 800px) {
    a.onelinelink {
        flex-direction: column;
        max-height: 800px;
        max-width: 300px;
        margin: 4rem auto;
    }
}

a.onelinelink h2 {
    top: -1.2rem;
    postition: relative;
    margin: 0;
    padding: 0;
    font-size: .8rem;
    font-weight: 400;
}

a.onelinelink .right {
    /* width: 100%; */
    width: calc(100% - 250px - 4rem);
    padding: 5px 15px;
}

@media (max-width: 800px) {
    a.onelinelink .right {
        width: auto;
    }
}

a.onelinelink .description {
    font-size: 1rem;
    line-height: 1.2rem;
    height: calc(100% - 31px - 1rem);
    padding: 0;
    padding-bottom: 1rem;
    padding-top: .1rem;
    margin: 0;
}

a.onelinelink .url {
    padding-right: 30px;
    color: rgba(255, 255, 255, .1);
    text-align: right;
    position: relative;
    z-index: 2;
    background: #262236;
}

a.onelinelink img {
    max-width: 300px;
    max-height: 126px;
    padding: 0;
    margin: 0;
    border-radius: 8px 0 0 8px;
}

a.onelinelink .read-more {
    font-size: .6rem;
    color: rgba(255, 255, 255, .08);
}body::-webkit-scrollbar {
    width: 1rem;
}

@media (max-width: 1000px) {
    body::-webkit-scrollbar {
        width: .5rem;
    }
}

@media (max-width: 425px) {
    body::-webkit-scrollbar {
        width: .25rem;
    }
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #5651B7;
}

body::-webkit-scrollbar-track {
    background: #392E3D;
}

body::-webkit-scrollbar-thumb {
    background-color: #5651B7;
    border-radius: .25rem;
    background: rgb(112, 107, 208);
    background: linear-gradient(180deg, rgba(112, 107, 208, 1) 0%, rgba(86, 81, 183, 1) 100%);
    border: 1px solid rgba(86j, 81, 183, .5);
}