<ul class='px-0'>
<li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/thoughts-377/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            💭 The Tank - Youtube
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-08-01">
                2024-8-1
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/thoughts-378/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            💭 (8) I Invented Airless Cornhole Bags - Youtube
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-08-01">
                2024-8-1
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/thoughts-374/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            💭 How Fly.Io Uses Docker (Without Docker) - Youtub
            ...
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-27">
                2024-7-27
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/thoughts-372/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            💭 This Is Goodbye? - Youtube
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-26">
                2024-7-26
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/thoughts-373/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            💭 Ultimate Modular Macro Keyboard "Kibly" : R/Mech
            ...
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-26">
                2024-7-26
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/thoughts-360/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            💭 Add Quick-Tap-Ms And Require-Prior-Idle-Ms · Way
            ...
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-25">
                2024-7-25
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/thoughts-361/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            💭 Note-Taking With Zettelkasten - An Introduction 
            ...
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-25">
                2024-7-25
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/thoughts-369/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            💭 He'S Back Again
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-25">
                2024-7-25
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/thoughts-356/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            💭 There’S A Tui For That With Nick Janetakis (Chan
            ...
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-24">
                2024-7-24
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/thoughts-357/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            💭 Sqlite-Jiff
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-24">
                2024-7-24
            </time>
        </p>
    </a>
</li></ul>