<div id='didyoumean'>
    <div class="mb-0">
        <!-- <label for="search" class="block text-sm font-medium mb-2">Search for a page</label> -->
        <input type="text" id="search"
               class="w-full p-2 border rounded-md bg-gray-800 text-gray-100 focus:ring-2 focus:ring-pink-500"
               placeholder="'/' Search for a page">
    </div>

    <!-- <div id="didyoumean_results" class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3"> -->
    <ul id="didyoumean_results" class='grid gap-4'>
        <!-- Results will be populated here -->
    </ul>
</div>
<script type='module' src="/didyoumean.js"></script>
