<li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/{{markata.config.path_prefix}}{{ post.slug }}/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            {{ post.title[:50] }}
            {% if post.title | length > 50 %}
            ...
            {% endif %}
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="{{ post.date }}">
                {{ post.date.year }}-{{ post.date.month }}-{{ post.date.day }}
            </time>
        </p>
    </a>
</li>
