<li class="group {{post.templateKey}} h-entry hentry">
    <a href="/{{markata.config.path_prefix}}{{ post.slug }}/" class="u-url" rel="bookmark" hx-boost="true">
        {% if post.title | length > 50 %}
            <h2 class="p-name entry-title">
                {% if post.templateKey == 'thought' %}
                    <img src='https://avatars.wayl.one/avatar/{{ post.link }}'/>
                {% endif %}
                {{ post.title[:50] }}...
            </h2>
        {% else %}
            <h2 class="p-name entry-title">
                {% if post.templateKey == 'thought' %}
                    <img src='https://avatars.wayl.one/avatar/{{ post.link }}'/>
                {% endif %}
                {{ post.title }}
            </h2>
        {% endif %}
    </a>

        {{post['article_html']}}

        <div class="card-footer">
            <div rel="category tag" class="p-category m-0 p-0 text-white/60 group-hover:text-white">
                {{post.templateKey.replace('til', 'TIL: Today I Learned')}}
            </div>
            <time class="dt-published published m-0 p-0 text-white/60 group-hover:text-white"
                  datetime="{{ post.date }}">
                {{ post.date.year }}-{{ post.date.month }}-{{ post.date.day }}
            </time>
        </div>
</li>
