<div id="title-wrapper">
    <a class="no-underline u-url flex flex-col sm:flex-row" href="https://waylonwalker.com/{{ post.slug }}/">
        <h1 id="title" class="flair blog title no-link">
            {{ post.title }}
        </h1>
        <!-- <img id='post-qr-link' class='qr border-none shadow-none mt-0 mr-0 mb-auto ml-auto p-0 w-16 h-16 rounded-none'  src='qr.svg' -->
        <!-- style='margin-right: 0; margin-top: 0; box-shadow: none;' -->
        <!-- > -->
        <wa-qr-code value="{{ config.url }}{{ post.slug }}" fill="deeppink" background="transparant" radius="0.5"></wa-qr-code>
    </a>
    <p class='m-0 sm:m-[-2rem]'>
        <time class="dt-published post-date" datetime="{{ date }}" style="text-align: right; z-index: 2">{{
            date
            }}</time>
    </p>
    <div class="flex flex-row h-card p-author space-between" rel="author">
        <img alt='pixelated avatar of Waylon Walker with a yellow and pink background'
             class="m-auto m-0 w-16 h-16 rounded-full u-photo shadow-[0_0_5px_5px_rgba(0,0,0,0.4)]"
             src="/88-8bitcc.webp" />
        <div class="content">
            <a class="p-name u-url h-card p-author" rel='me' href="https://waylonwalker.com/">
                <p>
                    <span class="p-given-name">Waylon</span>
                    <span class="p-family-name">Walker</span>
                </p>
            </a>
            <p class="p-note">
                Learning in Public
                <a href="https://twitter.com/_WaylonWalker" rel="me">@_WaylonWalker</a>
            </p>
        </div>
    </div>

    <!-- edit -->
    <!-- <p> -->
    <!--     <a href="https://github.com/WaylonWalker/waylonwalker.com/edit/main/pages/blog/{{ post.slug }}.md" -->
    <!--         alt="edit post url" title="edit this post">edit<span role="img" aria-label="">✏️</span></a> -->
    <!-- </p> -->
</div>
