@import url("/static/font-awesome-4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Oswald|Lato|Dancing+Script|Shadows+Into+Light");
nav {
templateKey: gratitude
  display: flex;
  margin: 1rem;
  margin-top: 0;
  text-align: center; }
  nav h1, nav h2, nav h3, nav h4, nav h5, nav h6 {
    color: #666;
    font-family: 'Oswald', "Arial Black", "Arial Bold", Gadget, sans-serif;
    text-shadow: none; }
  nav a {
    text-decoration: none;
    color: #cc3352; }
  nav ul {
    height: 4rem;
    margin-top: 1rem;
    margin-left: 1rem;
    display: none;
    border-radius: .2rem; }
  nav li {
    text-align: center;
    background: rgba(179, 230, 219, 0.5);
    color: #cc3352;
    border: #FFF;
    perspective: 1000px;
    padding: 1rem 1rem;
    border-radius: 0.1rem; }
  nav li:hover {
    background: rgba(133, 173, 165, 0.5); }
  nav .logo {
    background: rgba(194, 214, 210, 0.5);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    padding: 1rem;
    text-align: center;
    vertical-align: center; }

nav:hover .logo {
  background: rgba(133, 173, 165, 0.5); }

nav:hover ul {
  display: flex;
  list-style-type: none; }
  nav:hover ul ul {
    position: absolute;
    display: none; }

nav:hover a:hover {
  cursor: pointer; }

nav:hover li:hover ul {
  display: block; }

nav:hover ul.first li {
  opacity: 0;
  perspective: 1000px;
  transform-origin: top; }
  nav:hover ul.first li:nth-child(1) {
    animation-name: first;
    animation-duration: 300ms;
    animation-delay: 150ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; }
  nav:hover ul.first li:nth-child(2) {
    animation-name: first;
    animation-duration: 300ms;
    animation-delay: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; }
  nav:hover ul.first li:nth-child(3) {
    animation-name: first;
    animation-duration: 300ms;
    animation-delay: 450ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; }

nav:hover ul.drop li {
  opacity: 0; }
  nav:hover ul.drop li:nth-child(1) {
    animation-name: drop;
    animation-duration: 300ms;
    animation-delay: 150ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; }
  nav:hover ul.drop li:nth-child(2) {
    animation-name: drop;
    animation-duration: 300ms;
    animation-delay: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; }
  nav:hover ul.drop li:nth-child(3) {
    animation-name: drop;
    animation-duration: 300ms;
    animation-delay: 450ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; }
  nav:hover ul.drop li:nth-child(4) {
    animation-name: drop;
    animation-duration: 300ms;
    animation-delay: 600ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; }
  nav:hover ul.drop li:nth-child(5) {
    animation-name: drop;
    animation-duration: 300ms;
    animation-delay: 750ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; }
  nav:hover ul.drop li:nth-child(6) {
    animation-name: drop;
    animation-duration: 300ms;
    animation-delay: 900ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; }

@keyframes first {
  0% {
    opacity: 0;
    transform: rotateX(-90deg); }
  90% {
    transform: rotateX(20deg); }
  100% {
    opacity: 1;
    transform: rotateX(0deg); } }

@keyframes drop {
  0% {
    opacity: 0;
    transform: scale(0.8) rotateY(-90deg); }
  80% {
    transform: scale(1.1) rotateY(20deg); }
  100% {
    opacity: 1;
    transform: scale(1) rotateY(0deg); } }

footer {
  text-align: right;
  font-size: 1.5rem;
  width: 100%;
  background: rgba(204, 204, 204, 0.8); }
  footer .label {
    display: none; }
  footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    footer ul li {
      margin: 0.5rem; }
  footer a {
    color: black;
    text-decoration: none; }

@media only screen and (min-width: 500px) {
  footer {
    font-size: 1rem;
    position: fixed;
    bottom: 0; }
    footer .label {
      display: inline-block; } }

html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

body {
  padding-bottom: 10rem;
  line-height: 1.6rem;
  background: #c9cfce;
  background: url("/gratitude/static/img/juha-lakaniemi-445378.jpg") cover no-repeat fixed; }

h1, h2, h3, h4, h5, h6 {
  color: #616b69;
  font-family: 'Oswald', "Arial Black", "Arial Bold", Gadget, sans-serif; }

p {
  font-family: 'Lato'; }

em {
  color: #777;
  font-family: 'Shadows Into Light', cursive; }

strong {
  color: #616b69;
  font-family: 'Oswald', "Arial Black", "Arial Bold", Gadget, sans-serif; }

.content ul {
  list-style-type: none; }

.content li {
  padding-left: 1rem; }

.content li::before {
  display: inline-block;
  content: "";
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 25%;
  background-color: #977b9d;
  vertical-align: middle;
  margin-right: 0.7rem; }

.heading {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  margin-top: 15vh; }
  .heading p {
    max-width: 500px;
    margin: auto;
    margin-top: 5rem; }

.content {
  max-width: 600px;
  margin: auto;
  padding: 0 3rem 3rem 3rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
  border: 1px #999;
  background: #f9fbfa; }

h3 {
  margin: 0;
  margin-top: 6rem;
  padding-top: 4rem;
  border-top: 0.5rem solid #949e9c; }

h3:first-of-type {
  border: none;
  margin-top: 16vh; }

p {
  margin-top: 0.4rem;
  margin-bottom: 1rem; }

blockquote p {
  padding: 1rem;
  color: #b3808a;
  border-left: 0.5rem solid #80b3a8;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-family: 'Shadows Into Light', cursive; }
