@import url("/static/font-awesome-4.7.0/css/font-awesome.min.css");

/* @import url("https://fonts.googleapis.com/css?family=Oswald|Lato|Dancing+Script|Shadows+Into+Light"); */

header {
    z-index: 100;
    display: flex;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100%;
    background: rgba(204, 204, 204, 0.8);
}

@media only screen and (max-width: 1000px) {
    header {
        text-align: center;
        position: relative;
        align-items: stretch;
        flex-direction: column;
    }
}

header a {
    padding: 1rem;
    display: block;
}

header a:hover {
    background: rgba(153, 153, 153, 0.8);
}

header ul {
    list-style-type: none;
}

header nav {
    text-align: center;
}

header nav #site-navigation {
    display: flex;
    align-items: center;
    align-items: stretch;
}

@media only screen and (max-width: 1000px) {
    header nav #site-navigation {
        flex-direction: column;
    }
}

header nav #site-navigation .drop-item {
    position: absolute;
    opacity: 0;
    transition: all .5s;
    max-height: 0;
}

@media only screen and (max-width: 1000px) {
    header nav #site-navigation .drop-item {
        position: relative;
        left: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    header nav #site-navigation .drop:hover {
        width: 100%;
    }
}

header nav #site-navigation .drop:hover .drop-item {
    opacity: 1;
    max-height: 500px;
    background: rgba(204, 204, 204, 0.8);
    margin: 0;
    display: flex;
    flex-direction: column;
}

header nav #site-navigation .drop:hover .drop-item a {
    display: block;
    pading: 1rem;
}

footer {
    text-align: right;
    font-size: 1.5rem;
    width: 100%;
    background: rgba(204, 204, 204, 0.8);
}

footer .label {
    display: none;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

footer ul li {
    margin: 0.5rem;
}

footer a {
    color: black;
    text-decoration: none;
}

@media only screen and (min-width: 500px) {
    footer {
        font-size: 1rem;
        position: fixed;
        bottom: 0;
    }
    footer .label {
        display: inline-block;
    }
}

html,
body,
ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 10rem;
    line-height: 1.6rem;
    background: #c9cfce;
    background: url("/gratitude/static/img/juha-lakaniemi-445378.jpg") cover no-repeat fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #616b69;
    font-family: 'Oswald', "Arial Black", "Arial Bold", Gadget, sans-serif;
}

p {
    font-family: 'Lato';
}

em {
    color: #777;
    font-family: 'Shadows Into Light', cursive;
}

strong {
    color: #616b69;
    font-family: 'Oswald', "Arial Black", "Arial Bold", Gadget, sans-serif;
}

img {
    display: block;
    margin: auto;
    max-width: 300px;
    border-radius: 0.1rem;
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
}

.content ul {
    list-style-type: none;
}

.content li {
    padding-left: 1rem;
}

.content li::before {
    display: inline-block;
    content: "";
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 25%;
    background-color: #977b9d;
    vertical-align: middle;
    margin-right: 0.7rem;
}

.heading {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    margin-top: 15vh;
}

.heading p {
    max-width: 500px;
    margin: auto;
    margin-top: 5rem;
}

.content {
    max-width: 600px;
    margin: auto;
    padding: 0 1rem 1rem 1rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
    border: 1px #999;
    background: #f9fbfa;
}

h3 {
    margin: 0;
    margin-top: 6rem;
    padding-top: 4rem;
    border-top: 0.5rem solid #949e9c;
}

h3:first-of-type {
    border: none;
    margin-top: 16vh;
}

p {
    margin-top: 0.4rem;
    margin-bottom: 1rem;
}

blockquote p {
    padding: 1rem;
    color: #ad858d;
    border-left: 0.5rem solid #80b3a8;
    border-left: 0.5rem solid #949e9c;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: 'Shadows Into Light', cursive;
}
