<ul class='px-0'>
<li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/trying-obsidian/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            Trying Obsidian
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-31">
                2024-7-31
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/obsidian-using-templater-like-copier/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            Obsidian Using Templater Like Copier
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-31">
                2024-7-31
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/obsidian-image-converter/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            Obsidian Image Converter
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-30">
                2024-7-30
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/convert-mp4-for-twitter-with-ffmpeg/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            Convert Mp4 For Twitter With Ffmpeg
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-25">
                2024-7-25
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/blogging-in-2024/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            Blogging In 2024
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-07">
                2024-7-7
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/arch-remove-orphaned-packages/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            Arch Remove Orphaned Packages
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-06">
                2024-7-6
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/kubebernetes-kustomize-diff/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            K8S Kustomize Diff
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-06">
                2024-7-6
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/animal-well-keyboard/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            Animal Well Keyboard
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-04">
                2024-7-4
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/diskcache-as-debounce/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            Diskcache As Debounce
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-03">
                2024-7-3
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/kind-cluster/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            Kind Cluster
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-02">
                2024-7-2
            </time>
        </p>
    </a>
</li></ul>