<ul class='px-0'>
<li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/price-an-stl-print-on-slant3d/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            Price An Stl Print On Slant3D
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-11-18">
                2024-11-18
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/k3s-config-after-first-install/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            K3S Config After First Install
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-09-15">
                2024-9-15
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/new-caps-for-porta-john/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            New-Caps-For-Porta-John
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-08-05">
                2024-8-5
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/blogging-in-2024/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            Blogging In 2024
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-08-05">
                2024-8-5
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/obsidian-new-file/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            Obsidian-New-File
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-08-05">
                2024-8-5
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/vim-gq/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            Vim-Gq
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-08-05">
                2024-8-5
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/slug/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            Slug
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-08-05">
                2024-8-5
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/obsidian-go-to-definition/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            Obsidian-Go-To-Definition
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-08-04">
                2024-8-4
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/trying-obsidian/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            Trying Obsidian
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-31">
                2024-7-31
            </time>
        </p>
    </a>
</li><li class="px-4 mx-0 post group h-entry hentry list-none">
    <a href="/obsidian-using-templater-like-copier/" class="u-url" rel="bookmark">
        <p class="p-0 m-0 p-name entry-title text-base group-hover:text-yellow-500 flex flex-row flex-wrap">
            Obsidian Using Templater Like Copier
            <time class="dt-published published font-normal pl-4 m-0 p-0 text-white/60 group-hover:text-white"
                datetime="2024-07-31">
                2024-7-31
            </time>
        </p>
    </a>
</li></ul>